*{
    margin: 0;
    padding: 0;
}

#formUpload{
    margin-bottom: 50px;
}

#content{
    width: 80%;
    height: 95vh;
    margin: auto auto;
    background-color: #FFFFFF;
    border : 2px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    position: relative;
    z-index: 1;
    margin-left: 50vw;
    transform: translateX(-50%);
}

#backContent{
    width: 100vw;
    height: 100vh;
    position: absolute;
    visibility: hidden;
    z-index: 999;
    top:0px;
    left:0px;
    background-color: rgba(255, 255, 255, 0.7);
}

#backContent img{
    margin-top: 6%;
}

#result{
    visibility: hidden;
}

#canva{
	background-color :red;
    display:  inline-block;
    border: 1px solid black;
    position: relative;
}

#canva img{
    height: 100%;
    z-index: 2;
}

#sliderRange{
	position: absolute;
	top: 5%;
	height: 90%;
	left : 10px;
}
